<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/build/tailwind.css" />
</head>

<body class="flex flex-col min-h-screen bg-slate-50">
  <%- include('header') %>
  <main class="px-12 flex-1">
    <%- include(content) %>
  </main>
</body>

</html>