<div class="flex items-center justify-center w-screen h-screen bg-slate-50">
  <div class="w-64 h-fit shadow-xl rounded-lg bg-white pt-8 pb-12 px-4">
    <h1 class="text-center mb-8 text-xl font-bold text-slate-800">Register</h1>
    <form action="" method="post" class="flex flex-col justify-center items-center">
      <div class="w-full mb-2 flex flex-col justify-center">
        <input type="email" placeholder="Enter email" name="username" id="username" class="w-full border px-2 py-1 rounded-lg" value="<%= formData.username %>" required>
      </div>
      <div class="w-full mb-4 flex flex-col justify-center">
        <input type="text" placeholder="Password" name="password" id="password" class="w-full border px-2 py-1 rounded-lg" value="<%= formData.password %>" required>
      </div>
      <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white px-2 py-1 rounded-lg">Sign Up</button>
    </form>
    <% if (error){ %>
    <div class="text-xs text-red-500 mt-2"><%= error %></div>
    <% } %>
    <div class="flex gap-1 items-center py-2">
      <small class="text-xs">
        Already have an account?
      </small>
      <a href="/login" class="text-xs text-blue-400 hover:text-blue-500">Login</a>
    </div>
  </div>
</div>